.parent_center { /* Centering the tag */
    display: flex;
    justify-content: center;
    align-items: center;
}

fieldset {
    border: 1px solid rgb(243, 52, 26);
    display: inline-block;
}

legend {
    background-color: blue;
    color: yellow;
    padding: 3px 6px;
}

input {
    margin: .4rem;
}