.parent_center { /* Centering the tag */
    display: flex;
    justify-content: center;
    align-items: center;
}

fieldset {
    border: 2px solid;
    display: inline-block;
}

button {
    border: 3px solid crimson;
}

input {
    margin: .4rem;
}

.radioright {
    padding-right: 100px;
}