<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{styles.css}">
    <meta charset="UTF-8">
    <title>Insurance :: Error</title>
</head>
<body>
    <h1 class="parent_center">Email is already exist.</h1>
    <hr>

    <h5 class="parent_center"><a th:href="@{/create_account}">Back</a></h5>
</body>
</html>