<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <meta charset="UTF-8">
    <title>Insurance App :: Account Edit</title>
</head>
<body>
<div class="container">

    <h2>Choose Account to Edit</h2>
    <hr>

    <form th:object="${accounts}" th:action="@{/account_edit}" action="#"  method="get">

        <div>
            <label for="accounts">Choose an account:</label>

            <select class="form-control" name="accounts" id="accounts" style="width: auto">
                <option th:each="account : ${accounts}"
                        th:value="${account}"
                        th:text="${account.name + ' ' + account.surname + ' - ' + account.email}"/>
            </select>
        </div>

    </form>

</div>
</body>
</html>