<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insurance :: Success</title>
</head>
<body>

<script th:inline="javascript">
    let flag = [[${flag}]];
    let updated = [[${updated}]];
    let id = [[${id}]];

    if (flag) {
        alert("Email already exists!");
        if (updated) {
            let link = "/account_edit/";
            let result = link.concat(id);
            window.location.href = result;
        } else {
            window.location.href = "/create_account";
        }
    } else if (updated) {
        alert("Account updated successfully!");
        window.location.href = "/account_list";
    } else {
        alert("Account created successfully");
        window.location.href = "/account_list";
    }
</script>

</body>
</html>