<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insurance :: Success</title>
</head>
<body>

<script th:inline="javascript">
    let flag = [[${flag}]];
    let updated = [[${updated}]];

    if (flag) {
        alert("Email already exists!");
        window.location.href = "/create_account";
    }
    else if (updated) {
        alert("Account updated successfully!");
    }
    else {
        alert("Account created successfully");
    }
    window.location.href = "/";
</script>

</body>
</html>