<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/styles.css}">
    <meta charset="UTF-8">
    <title>Insurance App :: Dask</title>
</head>
<body>

<div class="container">

    <hr>

    <div th:replace="fragments :: navbar"></div>

    <hr>

    <h2>Make Dask Insurance</h2>

    <hr>

    <form th:action="@{/dask_registration}" method="post">

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="selectAccount">Choose an account</label>
            <div class="col-sm-10">
                <select th:field="*{dask.account}" class="custom-select my-1 mr-sm-2" id="selectAccount">
                    <option th:each="account : ${accounts}"
                            th:value="${account.id}"
                            th:text="${account.name + ' ' + account.surname + ' - ' + account.email}"/>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label for="build-year" class="col-sm-2 col-form-label">Build Year</label>
            <div class="col-sm-10">
                <input th:field="*{dask.buildYear}" type="number" name="build-year" class="form-control" id="build-year"
                       min="1000" max="2022" placeholder="Build Year">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="build-style">Building Style</label>
            <div class="col-sm-10">
                <select class="custom-select my-1 mr-sm-2" th:field="*{dask.daskBuildingStyle}" id="build-style" required>
                    <option th:each="buildStyle : ${daskBuildings}" th:value="${buildStyle.id}" th:text="${buildStyle.buildingStyle}"/>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label for="floor-number" class="col-sm-2 col-form-label">Floor Number</label>
            <div class="col-sm-10">
                <input th:field="*{dask.floorNumber}" type="number" name="floor-number" class="form-control" id="floor-number"
                       min="1" max="200" placeholder="Floor Number">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="damage-status">Damage Status</label>
            <div class="col-sm-10">
                <select class="custom-select my-1 mr-sm-2" th:field="*{dask.daskDamageStatus}" id="damage-status" required>
                    <option th:each="dmg : ${daskDamages}" th:value="${dmg.id}" th:text="${dmg.damageStatus}"/>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label for="area" class="col-sm-2 col-form-label">Area (m<sup>2</sup>)</label>
            <div class="col-sm-10">
                <input th:field="*{dask.area}" type="number" name="area" class="form-control" id="area"
                       min="20" max="999999" placeholder="Area">
            </div>
        </div>

        <hr>

        <h4 class="parent_center">Address</h4>

        <hr>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="city">City</label>
            <div class="col-sm-10">
                <select th:field="*{address.city}" class="custom-select my-1 mr-sm-2" id="city">
                    <option th:each="city : ${cities}" th:value="${city.id}" th:text="${city.cityName}"/>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label for="county" class="col-sm-2 col-form-label">County</label>
            <div class="col-sm-10">
                <input th:field="*{address.county}" type="text" name="county" class="form-control" id="county" placeholder="County">
            </div>
        </div>

        <div class="form-group row">
            <label for="open-address" class="col-sm-2 col-form-label">Open Address</label>
            <div class="col-sm-10">
                <textarea th:field="*{address.openAddress}"
                          class="form-control" name="open-address" id="open-address" rows="3" placeholder="Open Address">
                </textarea>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-10">
                <button th:text="Submit" type="submit" class="btn btn-primary"/>
            </div>
        </div>

    </form>

</div>

<div th:replace="fragments :: scripts"></div>

</body>
</html>