<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Make Insurance</title>
</head>
<body>
    <div class="parent_center">
        <form method="post" action="/submit">
            <fieldset>
                <legend><h4>Car Type</h4></legend>
                <div class="form-group">
                    <input type="radio" name="type" id="SUV" value="SUV">
                    <label for="SUV">SUV</label>
                </div>
                <div class="form-group">
                    <input type="radio" name="type" id="Sedan" value="Sedan">
                    <label for="Sedan">Sedan</label>
                </div>
                <div class="form-group">
                    <input type="radio" name="type" id="Hatchback" value="Hatchback">
                    <label for="Hatchback">Hatchback</label>
                </div>
            </fieldset>
            <br><br>
            <button type="submit" style="margin: 30px;">Submit</button>
        </form>
    </div>
</body>
</html>