<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{styles.css}">
    <meta charset="UTF-8">
    <title>Insurance App :: Proposals</title>
</head>
<body style="background-color: lightsteelblue">
<div class="container">

    <h2 class="parent_center" th:text="${title}"/>
    <hr>

    <h4 th:text="${traveltitle}"/>
    <hr>

    <table class="table table-dark">
        <thead>
        <tr>
            <th scope="col">Account Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Member Year</th>
            <th scope="col">Travel Type</th>
            <th scope="col">Travel Date</th>
            <th scope="col">Travel Distance</th>
            <th scope="col">Day</th>
            <th scope="col">Price</th>
            <th scope="col" th:if="${accepted} == false">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="travel : ${travels}" th:if="${travel.status} == ${accepted}">
            <td th:text="${travel.account.id}"/>
            <td th:text="${travel.account.name + ' ' + travel.account.surname}"/>
            <td th:text="${travel.account.email}"/>
            <td th:text="${travel.account.memberYear}"/>
            <td th:text="${travel.type}"/>
            <td th:text="${travel.date}"/>
            <td th:text="${travel.distance}"/>
            <td th:text="${travel.days}">
            <td th:text="${travel.price}"/>
            <td th:if="${accepted} == false">
                <form th:action="@{/proposals/travel/{id}(id=${travel.id})}" action="#" method="post">
                    <button type="submit" class="btn btn-primary">Accept</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <hr>

    <h4 th:text="${carTitle}"/>
    <hr>

    <table class="table table-dark" th:object="${cars}">
        <thead>
        <tr>
            <th scope="col">Account Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Member Year</th>
            <th scope="col">Car Age</th>
            <th scope="col">Car Model</th>
            <th scope="col">Price</th>
            <th scope="col" th:if="${accepted} == false">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="car : ${cars}" th:if="${car.status} == ${accepted}">
            <td th:text="${car.account.id}"/>
            <td th:text="${car.account.name + ' ' + car.account.surname}"/>
            <td th:text="${car.account.email}"/>
            <td th:text="${car.account.memberYear}"/>
            <td th:text="${car.age}"/>
            <td th:text="${car.model}"/>
            <td th:text="${car.price}"/>
            <td th:if="${accepted} == false">
                <form th:action="@{/proposals/car/{id}(id=${car.id})}" action="#" method="post">
                    <button type="submit" class="btn btn-primary">Accept</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <hr>

    <ul>
        <li>
            <h6><a th:href="@{/}">Home</a></h6>
        </li>
        <li>
            <h6><a th:href="@{/create_account}">Create Account</a></h6>
        </li>
        <li>
            <h6><a th:href="@{/car_insurance}">Make Car Insurance</a></h6>
        </li>
        <li>
            <h6><a th:href="@{/travel_insurance}">Make Travel Insurance</a></h6>
        </li>
    </ul>

</div>
</body>
</html>