<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/styles.css}">
    <meta charset="UTF-8">
    <title>Insurance App :: Proposals</title>
</head>
<body style="background-color: lightsteelblue">
<div class="container">

    <h2 th:text="${title}"/>
    <hr>

    <table class="table table-dark">
        <thead>
        <tr>
            <th scope="col">Proposal ID</th>
            <th scope="col">Client Name</th>
            <th scope="col">Proposal Type</th>
            <th scope="col">Price</th>
            <th scope="col">Proposal Date</th>
            <th scope="col" th:if="${accepted} == true">Accepted Date</th>
            <th scope="col">Details</th>
            <th scope="col" th:if="${accepted} == false">Action</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="proposal : ${proposals}" th:if="${proposal.status} == ${accepted}">
            <td th:text="${proposal.id}"/>
            <td th:if="${proposal.type} == 'Car'"
                th:text="${proposal.car.account.name + ' ' + proposal.car.account.surname}"/>
            <td th:if="${proposal.type} == 'Travel'"
                th:text="${proposal.travel.account.name + ' ' + proposal.travel.account.surname}"/>
            <td th:if="${proposal.type} == 'Dask'"
                th:text="${proposal.dask.account.name + ' ' + proposal.dask.account.surname}"/>
            <td th:text="${proposal.type}"/>
            <td th:text="${proposal.price}"/>
            <td th:text="${proposal.proposalDate}"/>
            <td th:text="${proposal.proposalAcceptedDate}" th:if="${accepted} == true"/>
            <td>
                <form th:if="${proposal.type} == 'Travel'"
                      th:action="@{/proposal/details/travel/{id}(id=${proposal.travel.id})}"
                      action="#" method="get">
                    <button type="submit" class="btn btn-info">Details</button>
                </form>
                <form th:if="${proposal.type} == 'Car'"
                      th:action="@{/proposal/details/car/{id}(id=${proposal.car.id})}"
                      action="#" method="get">
                    <button type="submit" class="btn btn-info">Details</button>
                </form>
                <form th:if="${proposal.type} == 'Dask'"
                      th:action="@{/proposal/details/dask/{id}(id=${proposal.dask.id})}"
                      action="#" method="get">
                    <button type="submit" class="btn btn-info">Details</button>
                </form>
            </td>
            <td th:if="${accepted} == false">
                <form th:action="@{/proposals/accept/{id}(id=${proposal.id})}" action="#" method="post">
                    <button type="submit" class="btn btn-primary">
                        Accept
                    </button>
                </form>
            </td>
            <td>
                <a th:href="@{/proposal/delete/{id}(id=${proposal.id})}" class="btn btn-danger">
                    Delete
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <hr>

    <div th:replace="fragments :: footer"/>

</div>
</body>
</html>