<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/styles.css}">
    <meta charset="UTF-8">
    <title>Insurance App :: Travel Details</title>
    <style>
        p {
            color: blue;
        }
    </style>
</head>
<body>
<div class="container">

    <hr>

    <div th:replace="fragments :: navbar"/>

    <hr>

    <h2>Travel Details</h2>
    <hr>

    <div class="parent_center">
        <p>
            <strong>Travel Insurance ID:</strong>&nbsp
        </p>
        <p th:text="${travel.id}"/>
    </div>

    <div class="parent_center">
        <p>
            <strong>Client Name:</strong>&nbsp
        </p>
        <p th:text="${travel.account.name + ' ' + travel.account.surname}"/>
    </div>

    <div class="parent_center">
        <p>
            <strong>Client Email:</strong>&nbsp
        </p>
        <p th:text="${travel.account.email}"/>
    </div>

    <div class="parent_center">
        <p>
            <strong>Travel Type:</strong>&nbsp
        </p>
        <p th:text="${travel.travelTypes.travelType}"/>
    </div>

    <div class="parent_center">
        <p>
            <strong>Travel Date:</strong>&nbsp
        </p>
        <p th:text="${#dates.format(travel.travelDate, 'dd/MM/yyyy')}"/>
    </div>

    <div class="parent_center">
        <p>
            <strong>Travel Distance:</strong>&nbsp
        </p>
        <p th:text="${travel.distance_km} + ' KM'"/>
    </div>

    <div class="parent_center">
        <p>
            <strong>Travel Days:</strong>&nbsp
        </p>
        <p th:text="${travel.days}"/>
    </div>

    <div class="parent_center">
        <p>
            <strong>Proposal Price:</strong>&nbsp
        </p>
        <p th:text="${travel.proposal.price} + ' TL'"/>
    </div>

    <div class="parent_center">
        <p>
            <strong>Proposal Date:</strong>&nbsp
        </p>
        <p th:text="${travel.proposal.proposalDate}"/>
    </div>

    <div class="parent_center">
        <p>
            <strong>Proposal Accepted Date:</strong>&nbsp
        </p>
        <p th:text="${travel.proposal.proposalAcceptedDate}"/>
    </div>

    <div th:if="${travel.proposal.status} == false" class="parent_center">
        <form th:action="@{/proposals/accept/{id}(id=${travel.proposal.id})}" action="#" method="post">
            <button type="submit" class="btn btn-primary">
                Accept
            </button>
        </form>
    </div>

    <hr>

</div>

<div th:replace="fragments :: scripts"/>

</body>
</html>